<div
  class="flex items-center gap-4 rounded-lg bg-white p-6 shadow dark:bg-stone-800"
>
  <div
    class="relative inline-flex h-16 w-16 rounded-full bg-rose-400 dark:bg-rose-600"
  >
    <svg
      class="absolute left-1/2 top-1/2 h-8 w-8 -translate-x-1/2 -translate-y-1/2 text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15.583 8.445h.01M10.86 19.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 12.31 4l5.734.007A1.968 1.968 0 0 1 20 5.983v5.5a.992.992 0 0 1-.316.727l-7.44 7.5a.974.974 0 0 1-1.384.001Z"
      />
    </svg>
  </div>
  <div class="">
    <h2 class="mb-2 text-xl font-semibold text-stone-400 dark:text-stone-500">
      Categories
    </h2>
    <h3 class="text-2xl font-extrabold text-stone-600 dark:text-stone-400">
      {{ value }} Recognized
    </h3>
  </div>
</div>
