@if (isLoading) {
<app-loading />
}

<div class="text-stone-800 dark:text-white">

  <div class="my-4">
    <form #warehouseForm="ngForm" (ngSubmit)="onCreateWarehouse(warehouseForm.value)">
      <div class="mb-2">
        <label for="name" class="block mb-2 text-sm font-medium text-stone-900 dark:text-white">Warehouse name</label>
        <input id="name" type="text"
          class="bg-stone-50 border border-stone-300 text-stone-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
          name="name" required minlength="3" #name="ngModel" ngModel />
        <!-- ERROR HANDLING Frontend -->
        <div *ngIf="name.invalid && name.touched" class="text-red-500">
          <p *ngIf="name.hasError('required')">required</p>
          <p *ngIf="name.hasError('minlength')">minimum length is 3 characters</p>
        </div>
        <!-- ERROR HANDLING Backend -->
        <p *ngIf="APIerrors && APIerrors['name']" class="text-red-500">
          {{ APIerrors["name"] }}
        </p>
      </div>


      <div class="mb-2">
        <label for="location" class="block mb-2 text-sm font-medium text-stone-900 dark:text-white">Warehouse
          location</label>
        <input id="location" type="text"
          class="bg-stone-50 border border-stone-300 text-stone-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
          name="location" required minlength="3" #location="ngModel" ngModel />
        <!-- ERROR HANDLING Frontend -->
        <div *ngIf="location.invalid && location.touched" class="text-red-500">
          <p *ngIf="location.hasError('required')">required</p>
          <p *ngIf="location.hasError('minlength')">minimum length is 3 characters</p>
        </div>
        <!-- ERROR HANDLING Backend -->
        <p *ngIf="APIerrors && APIerrors['location']" class="text-red-500">
          {{ APIerrors["location"] }}
        </p>
      </div>


      <div class="mb-2">
        <label for="total_capacity" class="block mb-2 text-sm font-medium text-stone-900 dark:text-white">Warehouse
          total capacity</label>
        <input id="total_capacity" type="text"
          class="bg-stone-50 border border-stone-300 text-stone-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
          name="total_capacity" required [pattern]="capacityPattern" #total_capacity="ngModel" ngModel />
        <!-- ERROR HANDLING Frontend -->
        <div *ngIf="total_capacity.invalid && total_capacity.touched" class="text-red-500">
          <p *ngIf="total_capacity.hasError('required')">required</p>
          <p *ngIf="total_capacity.hasError('pattern')">amount must be a valid number</p>
        </div>
        <!-- ERROR HANDLING Backend -->
        <p *ngIf="APIerrors && APIerrors['total_capacity']" class="text-red-500">
          {{ APIerrors["total_capacity"] }}
        </p>
      </div>

      <div class="flex flex-row-reverse items-center gap-2 mt-2">
        <button type="submit"
          class="duration-150 text-white bg-amber-700 hover:bg-amber-800 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-amber-600 dark:hover:bg-amber-700 focus:outline-none dark:focus:ring-amber-800">
          Create
        </button>
      </div>

    </form>
  </div>

  <div>
    @for (warehouse of warehousesArray; track warehouse.id) {
    <p>Warehouse name: {{warehouse.name}} </p>
    <p>Warehouse location: {{warehouse.location }} </p>
    <p>Warehouse capacity: {{warehouse.total_capacity}} </p>

    <div class="my-2">
      <form #updatedWarehouseForm="ngForm" (ngSubmit)="onUpdateWarehouse(updatedWarehouseForm.value,warehouse.id)">
        <div class="mb-2">
          <label for="updatedName" class="block mb-2 text-sm font-medium text-stone-900 dark:text-white">Warehouse
            name</label>
          <input id="updatedName" type="text"
            class="bg-stone-50 border border-stone-300 text-stone-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-1/2 p-2.5 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
            name="name" required minlength="3" #updatedName="ngModel" [ngModel]="warehouse.name" ngModel />
          <!-- ERROR HANDLING Frontend -->
          <div *ngIf="updatedName.invalid && updatedName.touched" class="text-red-500">
            <p *ngIf="updatedName.hasError('required')">required</p>
            <p *ngIf="updatedName.hasError('minlength')">minimum length is 3 characters</p>
          </div>
          <!-- ERROR HANDLING Backend -->
          <p *ngIf="updateAPIerrors && updateAPIerrors['name']" class="text-red-500">
            {{ updateAPIerrors["name"] }}
          </p>
        </div>


        <div class="mb-2">
          <label for="updatedlocation" class="block mb-2 text-sm font-medium text-stone-900 dark:text-white">Warehouse
            location</label>
          <input id="updatedlocation" type="text"
            class="bg-stone-50 border border-stone-300 text-stone-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-1/2 p-2.5 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
            name="location" required minlength="3" #updatedLocation="ngModel" [ngModel]="warehouse.location" ngModel />
          <!-- ERROR HANDLING Frontend -->
          <div *ngIf="updatedLocation.invalid && updatedLocation.touched" class="text-red-500">
            <p *ngIf="updatedLocation.hasError('required')">required</p>
            <p *ngIf="updatedLocation.hasError('minlength')">minimum length is 3 characters</p>
          </div>
          <!-- ERROR HANDLING Backend -->
          <p *ngIf="updateAPIerrors && updateAPIerrors['location']" class="text-red-500">
            {{ updateAPIerrors["location"] }}
          </p>
        </div>


        <div class="mb-2">
          <label for="updatedCapacity" class="block mb-2 text-sm font-medium text-stone-900 dark:text-white">Warehouse
            total capacity</label>
          <input id="updatedCapacity" type="text"
            class="bg-stone-50 border border-stone-300 text-stone-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-1/2 p-2.5 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
            name="total_capacity" required minlength="3" #updatedCapacity="ngModel" [pattern]="capacityPattern"
            [ngModel]="warehouse.total_capacity" ngModel />
          <!-- ERROR HANDLING Frontend -->
          <div *ngIf="updatedCapacity.invalid && updatedCapacity.touched" class="text-red-500">
            <p *ngIf="updatedCapacity.hasError('required')">required</p>
            <p *ngIf="updatedCapacity.hasError('pattern')">amount must be a valid number</p>
          </div>
          <!-- ERROR HANDLING Backend -->
          <p *ngIf="updateAPIerrors && updateAPIerrors['total_capacity']" class="text-red-500">
            {{ updateAPIerrors["total_capacity"] }}
          </p>
        </div>

        <div class="flex flex-row-reverse items-center gap-2 mt-2">
          <button type="submit" class="p-2 bg-green-700 hover:bg-green-800">
            Edit
          </button>
        </div>

      </form>
    </div>

    <button type="submit" (click)="onDeleteWarehouse(warehouse.id)" class="p-2 bg-red-700 hover:bg-red-800 my-4">
      Delete
    </button>
    <hr class="m-4">
    }
    @empty {
    <p>No warehouses were found</p>
    }
  </div>
</div>
