@if(isLoading){
<app-loading />
} @if(error){
<div
  class="min-h-[calc(100dvh-120px)] flex flex-col justify-center items-center gap-6"
>
  <span
    class="block text-7xl font-extrabold text-stone-700 dark:text-stone-600"
    >{{ error.status }}</span
  >
  <h2 class="text-4xl font-extrabold text-stone-800 dark:text-stone-200">
    An error occurred
  </h2>
  <p>{{ error.status === 404 ? "Resource was not found" : error.message }}</p>
</div>
}@else{
<div class="text-stone-800 dark:text-white">
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-4xl font-semibold">Products</h1>
    <!-- <app-create-supplier-modal (supplierCreated)="onCreateSupplier($event)" /> -->
    <!-- <app-create-product-modal /> -->
  </div>

  <div class="mt-8 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    @for(product of products; track product.id){

    <div
      class="p-4 bg-stone-50 dark:bg-stone-800 rounded-lg h-full min-h-36 grid grid-cols-1 sm:grid-cols-3 gap-4"
    >
      <img
        [src]="product.image"
        alt="Product Image"
        class="w-full h-full aspect-square object-cover rounded-md overflow-hidden"
      />
      <div class="col-span-2 h-full flex-col flex gap-4">
        <h3 class="text-lg font-semibold text-stone-800 dark:text-stone-200">
          {{ product.name }}
        </h3>
        <div class="flex items-center gap-2 flex-wrap">
          <div class="flex items-center flex-1 gap-2">
            <h4 class="font-extrabold">SKU:</h4>
            <h4>{{ product.sku }}</h4>
          </div>
          <div class="flex items-center flex-1 gap-2">
            <h4 class="font-extrabold">Price:</h4>
            <h4>{{ product.price | currency }}</h4>
          </div>
          <div class="flex items-center flex-1 gap-2">
            <h4 class="font-extrabold">Added:</h4>
            <h4>{{ product.created_at | date : "shortDate" }}</h4>
          </div>
          <div class="flex items-center flex-1 gap-2">
            <h4 class="font-extrabold">Updated:</h4>
            <h4>{{ product.price | date : "shortDate" }}</h4>
          </div>
        </div>
        <div class="flex items-center gap-2 mt-auto">
          <span
            class="bg-amber-100 text-amber-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-amber-900 dark:text-amber-300"
            >{{ product.category?.name }}</span
          >
          <span
            class="bg-stone-200 text-stone-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-stone-900 dark:text-stone-300"
          >
            <span class="font-extrabold"> FROM: </span>
            {{ product.supplier?.name }}</span
          >
          <a
            [routerLink]="['/products', product.id]"
            class="ml-auto text-stone-400 hover:text-amber-600 duration-150"
            >View</a
          >
        </div>
      </div>
    </div>
    }
  </div>
</div>
}
