@if (isLoading) {
  <app-loading />
}
@if (error) {
  <div
    class="flex min-h-[calc(100dvh-120px)] flex-col items-center justify-center gap-6"
  >
    <span
      class="block text-7xl font-extrabold text-stone-700 dark:text-stone-600"
      >{{ error.status }}</span
    >
    <h2 class="text-4xl font-extrabold text-stone-800 dark:text-stone-200">
      An error occurred
    </h2>
    <p>{{ error.status === 404 ? "Resource was not found" : error.message }}</p>
  </div>
} @else {
  <div class="text-stone-800 dark:text-white">
    <div class="mb-5 flex items-center justify-between">
      <h1 class="text-4xl font-semibold">Products</h1>
      <!-- <app-create-supplier-modal (supplierCreated)="onCreateSupplier($event)" /> -->
      <app-create-product-modal (product)="addNewProduct($event)" />
    </div>

    <div class="mt-8 grid grid-cols-1 gap-4 xl:grid-cols-2">
      @for (product of paginatedProducts; track product.id) {
        <app-product-card [product]="product" />
      }
    </div>
    <div class="mt-8">
      <app-pagination
        [totalItems]="totalItems"
        [itemsPerPage]="10"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </div>
}
