<div class="mb-4">
  <div class="flex items-center justify-between">
    <h2 class="text-3xl font-bold text-stone-700 dark:text-stone-200">
      {{ category.name }}
    </h2>
    <div class="flex items-center gap-4">
      <app-update-category-modal
        [id]="category.id"
        (updatedCategory)="updateCategory($event)"
      />
      <app-delete-category-modal
        [id]="category.id"
        (deletedId)="removeCategory($event)"
      />
    </div>
  </div>
  @if (category.products && category.products.length > 0) {
    <app-category-product [products]="category.products" />
  } @else {
    <h4 class="mt-4 text-xl text-stone-700 dark:text-stone-600">
      There is not product assigned to this category to be found
    </h4>
  }
</div>
