<form
  class="space-y-6 rounded-lg border border-stone-300 bg-white px-4 py-6 dark:border-stone-600 dark:bg-stone-800"
  #password="ngForm"
  (ngSubmit)="passwordForm(password)"
>
  <h2 class="text-2xl text-stone-900 dark:text-white">Update Password</h2>

  <!-- Current_password -->
  <div class="relative">
    <input
      type="password"
      id="current_password"
      name="current_password"
      ngModel
      required
      minlength="8"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$"
      class="border-1 peer block w-full appearance-none rounded-lg border-stone-300 bg-transparent px-2.5 pb-2.5 pt-4 text-sm text-stone-900 focus:border-amber-600 focus:outline-none focus:ring-0 dark:border-stone-600 dark:text-white dark:focus:border-amber-500"
      placeholder=" "
    />
    <label
      for="current_password"
      class="absolute start-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-stone-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-amber-600 dark:bg-stone-800 dark:text-stone-400 peer-focus:dark:text-amber-500 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
      >Current password</label
    >
  </div>
  @if (
    (password.submitted && password.controls["current_password"].invalid) ||
    (password.controls["current_password"].touched &&
      password.controls["current_password"].invalid)
  ) {
    <div class="text-red-500">Invalid Password</div>
  }
  <!-- API Errors -->
  @if (current_passwordError) {
    <div class="text-red-500">Current password incorrect</div>
  }
  <!-- New_password -->
  <div class="relative">
    <input
      type="password"
      id="new_password"
      name="new_password"
      ngModel
      required
      minlength="8"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$"
      class="border-1 peer block w-full appearance-none rounded-lg border-stone-300 bg-transparent px-2.5 pb-2.5 pt-4 text-sm text-stone-900 focus:border-amber-600 focus:outline-none focus:ring-0 dark:border-stone-600 dark:text-white dark:focus:border-amber-500"
      placeholder=" "
    />
    <label
      for="new_password"
      class="absolute start-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-stone-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-amber-600 dark:bg-stone-800 dark:text-stone-400 peer-focus:dark:text-amber-500 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
      >New password</label
    >
  </div>

  @if (
    (password.submitted && password.controls["new_password"].invalid) ||
    (password.controls["new_password"].touched &&
      password.controls["new_password"].invalid)
  ) {
    <div class="text-red-500">Invalid Password</div>
  }

  <!-- Password_confirmation -->
  <div class="relative">
    <input
      type="password"
      id="new_password_confirmation"
      name="new_password_confirmation"
      ngModel
      required
      minlength="8"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$"
      class="border-1 peer block w-full appearance-none rounded-lg border-stone-300 bg-transparent px-2.5 pb-2.5 pt-4 text-sm text-stone-900 focus:border-amber-600 focus:outline-none focus:ring-0 dark:border-stone-600 dark:text-white dark:focus:border-amber-500"
      placeholder=" "
    />
    <label
      for="new_password_confirmation"
      class="absolute start-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-stone-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-amber-600 dark:bg-stone-800 dark:text-stone-400 peer-focus:dark:text-amber-500 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
      >Confirm password</label
    >
  </div>

  @if (
    (password.submitted &&
      password.controls["new_password_confirmation"].invalid) ||
    (password.controls["new_password_confirmation"].touched &&
      password.controls["new_password_confirmation"].invalid)
  ) {
    <div class="text-red-500">Invalid Password</div>
  }
  <!-- API Errors -->
  @if (new_password_confirmationError) {
    <div class="text-red-500">Passwords do not match</div>
  }
  <div class="flex justify-between">
    @if (success) {
      <div class="text-green-500">Password changed</div>
    }
    <button
      type="submit"
      class="ms-auto rounded-lg border border-amber-700 px-5 py-2.5 text-center text-sm font-medium text-amber-700 hover:bg-amber-800 hover:text-white focus:outline-none focus:ring-4 focus:ring-amber-300 dark:border-amber-500 dark:text-amber-500 dark:hover:bg-amber-500 dark:hover:text-white dark:focus:ring-amber-800"
    >
      Update
    </button>
  </div>
</form>
