<!-- <section id="about" class="relative z-10 bg-stone-100 dark:bg-stone-800"> -->
<section
  id="about"
  class="relative bg-gradient-to-t from-stone-100 to-stone-200 dark:from-stone-800 dark:to-stone-900"
>
  <div class="relative z-40 pt-8 pb-12 px-4 mx-auto container sm:py-32 lg:px-4">
    <h2
      class="text-center text-4xl sm:text-5xl lg:text-6xl 2xl:text-7xl font-extrabold text-stone-400 dark:text-stone-600 mb-8"
    >
      About Inventive
    </h2>
    <p
      class="text-xl text-stone-500 dark:text-stone-50 mb-8 text-center mx-auto max-w-3xl"
    >
      Inventive is a leading provider of innovative inventory management
      solutions. Our mission is to empower businesses of all sizes to optimize
      their operations, reduce costs, and improve efficiency through
      cutting-edge technology.
    </p>
    <div class="flex flex-wrap justify-center max-w-3xl mx-auto">
      <!-- Card -->
      @for(teamMember of teamMembers; track teamMember.image){
      <app-person-card class="flex-1" [person]="teamMember" />
      }
    </div>
  </div>
  <div
    class="absolute z-0 top-0 lg:-top-1/3 2xl:-top-3/4 -left-1/4 w-full h-auto"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svgjs="http://svgjs.dev/svgjs"
      viewBox="0 0 800 800"
    >
      <defs>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="cccloud-grad">
          <stop
            class="text-stone-600/30"
            stop-color="currentColor"
            stop-opacity="1"
            offset="0%"
          ></stop>
          <stop
            class="text-stone-950/80"
            stop-color="currentColor"
            stop-opacity="1"
            offset="100%"
          ></stop>
        </linearGradient>
      </defs>
      <g
        fill="url(#cccloud-grad)"
        id="cloud"
        transform="matrix(1,0,0,1,-70,-100)"
      >
        <path
          d="M 150 350 A  49 49 0 1 1 200 200 A  49 49 0 1 1 350 200 A  49 49 0 1 1 550 300 A  49 49 0 1 1 600 400 A  49 49 0 1 1 550 500 A  49 49 0 1 1 350 450 A  49 49 0 1 1 150 350 Z"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
  </div>
</section>
<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:svgjs="http://svgjs.dev/svgjs"
  viewBox="0 0 800 800"
>
  <g
    fill="hsla(28, 54%, 35%, 1.00)"
    id="cloud"
    transform="matrix(1,0,0,1,-70,-100)"
  >
    <path
      d="M 500 400 A  49 49 0 1 1 300 350 A  49 49 0 1 1 250 300 A  49 49 0 1 1 350 250 A  49 49 0 1 1 500 200 A  49 49 0 1 1 600 250 A  49 49 0 1 1 500 400 Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
  </g>
</svg> -->
