@if (isLoading) {
  <app-loading />
}

<h1 class="mb-5 text-4xl font-semibold">Purchased Orders</h1>

<div class="relative mt-4 overflow-x-auto rounded-lg shadow-lg md:mt-6 xl:mt-8">
  <table class="w-full text-left text-sm text-stone-700 dark:text-stone-400">
    <thead
      class="bg-stone-50 text-xs uppercase text-stone-700 dark:bg-stone-700 dark:text-stone-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Purchase id</th>
        <th scope="col" class="px-6 py-3">Supplier</th>
        <th scope="col" class="px-6 py-3">Buyer</th>
        <th scope="col" class="px-6 py-3">total amount</th>
        <th scope="col" class="px-6 py-3">status</th>
        <th scope="col" class="px-6 py-3">Placed on</th>
        <th scope="col" class="px-6 py-3">Invoice</th>
      </tr>
    </thead>
    <tbody>
      @for (purchase of paginatedPurchases; track purchase.id) {
        <tr class="border-b bg-white dark:border-stone-700 dark:bg-stone-800">
          <td class="px-6 py-4">
            <a
              [routerLink]="['/purchases/', purchase.id]"
              class="flex items-center gap-2"
            >
              <i-feather name="external-link" />
              {{ purchase.id }}
            </a>
          </td>
          <td class="px-6 py-4">
            <a
              [routerLink]="['/suppliers', purchase.supplier_id]"
              target="_blank"
              class="flex items-center gap-2 hover:text-amber-700 dark:hover:text-stone-50"
            >
              <i-feather name="external-link" />
              {{ purchase.supplier?.name }}
            </a>
          </td>
          <td class="px-6 py-4">{{ purchase.user?.name }}</td>
          <td class="px-6 py-4">{{ purchase.total_amount | currency }}</td>
          <td class="px-6 py-4">{{ purchase.status }}</td>
          <td class="px-6 py-4">
            {{ purchase.created_at | date: "mediumDate" }}
            {{ purchase.created_at | date: "shortTime" }}
          </td>
          @if (purchase.id) {
            <td class="px-6 py-4 text-xl">
              <app-open-purchase-invoice [id]="purchase.id" />
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="mt-8">
  <app-pagination
    [totalItems]="totalItems"
    [itemsPerPage]="10"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
