<nav class="bg-stone-50 border-stone-200 dark:bg-stone-900">
  <!-- class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto" -->
  <div
    class="container flex flex-wrap items-center justify-between p-4 mx-auto"
  >
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span
        class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-stone-800 dark:text-white"
        >Inventive</span
      >
    </a>
    <div class="flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
      <a
        routerLink="/login"
        class="px-4 py-2 text-sm font-medium text-center text-white rounded-lg bg-amber-700 hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800"
      >
        Login
      </a>
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm rounded-lg text-stone-500 md:hidden hover:bg-stone-100 focus:outline-none focus:ring-2 focus:ring-stone-200 dark:text-stone-400 dark:hover:bg-stone-700 dark:focus:ring-stone-600"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col p-4 mt-4 font-medium border rounded-lg md:p-0 border-stone-100 bg-stone-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-stone-800 md:dark:bg-stone-900 dark:border-stone-700"
      >
        <li>
          <button
            (click)="scrollToSection('features')"
            class="block px-3 py-2 capitalize rounded cursor-pointer md:p-0 text-stone-900 hover:bg-stone-100 md:hover:bg-transparent md:hover:text-amber-700 md:dark:hover:text-amber-500 dark:text-white dark:hover:bg-stone-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-stone-700"
          >
            Features
          </button>
        </li>
        <li>
          <button
            (click)="scrollToSection('benefits')"
            class="block px-3 py-2 capitalize rounded cursor-pointer md:p-0 text-stone-900 hover:bg-stone-100 md:hover:bg-transparent md:hover:text-amber-700 md:dark:hover:text-amber-500 dark:text-white dark:hover:bg-stone-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-stone-700"
          >
            Benefits
          </button>
        </li>
        <li class="order-last dark:text-white md:order-none">
          <span
            class="block px-3 py-2 rounded md:p-0 text-stone-900 hover:bg-stone-100 md:hover:bg-transparent md:hover:text-amber-700 md:dark:hover:text-amber-500 dark:text-white dark:hover:bg-stone-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-stone-700"
          >
            <div class="flex items-center gap-4">
              <app-toggle-dark-light />
              <span class="md:sr-only">Switch theme</span>
            </div>
          </span>
        </li>
        <li>
          <button
            (click)="scrollToSection('pricing')"
            class="block px-3 py-2 capitalize rounded cursor-pointer md:p-0 text-stone-900 hover:bg-stone-100 md:hover:bg-transparent md:hover:text-amber-700 md:dark:hover:text-amber-500 dark:text-white dark:hover:bg-stone-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-stone-700"
          >
            Pricing
          </button>
        </li>
        <li>
          <button
            (click)="scrollToSection('about')"
            class="block px-3 py-2 capitalize rounded cursor-pointer md:p-0 text-stone-900 hover:bg-stone-100 md:hover:bg-transparent md:hover:text-amber-700 md:dark:hover:text-amber-500 dark:text-white dark:hover:bg-stone-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-stone-700"
          >
            About
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
