@if (isLoading) {
  <app-loading />
}
@if (purchase) {
  <div class="flex items-center justify-between">
    <h1 class="mb-5 text-3xl font-semibold md:text-4xl">
      Purchase Order {{ purchase.id }} Details
    </h1>
    <div class="flex items-center gap-2">
      <button class="text-2xl" (click)="openInvoice()" title="open invoice">
        <i-feather name="file-text" />
      </button>
      @if (purchase.id && purchase.status) {
        <app-purchase-order-actions
          [currentStatus]="purchase.status"
          [orderId]="purchase.id"
          (newStatus)="updateStatus($event)"
        />
      }
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
    <!-- Supplier Info -->
    <div class="rounded-lg bg-white p-4 shadow dark:bg-stone-800">
      <h2 class="mb-4 text-center text-xl font-semibold md:text-2xl">
        Supplier Information
      </h2>
      <a
        [routerLink]="['/suppliers', purchase.supplier_id]"
        target="_blank"
        class="my-6 flex justify-center"
      >
        <div class="relative">
          <img
            class="h-20 w-20 rounded-full shadow"
            [src]="purchase.supplier?.image"
            alt=""
          />
          <span class="text-md absolute bottom-0 left-16 text-amber-600">
            <i-feather name="external-link" />
          </span>
        </div>
      </a>
      <div class="space-y-4">
        <h4 class="flex items-center gap-2">
          <span class="text-amber-600">
            <i-feather name="user" />
          </span>
          {{ purchase.supplier?.name }}
        </h4>
        <h4 class="flex items-center gap-2">
          <span class="text-amber-600">
            <i-feather name="at-sign" />
          </span>
          {{ purchase.supplier?.email }}
        </h4>
        <h4 class="flex items-center gap-2">
          <span class="text-amber-600">
            <i-feather name="map-pin" />
          </span>
          {{ purchase.supplier?.address }}
        </h4>
        <h4 class="flex items-center gap-2">
          <span class="text-amber-600">
            <i-feather name="phone" />
          </span>
          {{ purchase.supplier?.phone }}
        </h4>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <!-- Buyer Info -->
      <div class="flex-1 rounded-lg bg-white p-4 shadow dark:bg-stone-800">
        <h2 class="mb-4 text-xl font-semibold md:text-2xl">
          Buyer Information
        </h2>
        <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
          <h4 class="flex items-center gap-2">
            <span class="text-amber-600">
              <i-feather name="user" />
            </span>
            {{ purchase.user?.name }}
          </h4>
          <h4 class="flex items-center gap-2">
            <span class="text-amber-600">
              <i-feather name="at-sign" />
            </span>
            {{ purchase.user?.email }}
          </h4>
        </div>
      </div>
      <!-- Order Info -->
      <div class="flex-1 rounded-lg bg-white p-4 shadow dark:bg-stone-800">
        <h2 class="mb-4 text-xl font-semibold md:text-2xl">
          Order Information
        </h2>
        <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
          <h4 class="flex items-center gap-2">
            <span class="text-amber-600">
              <i-feather name="dollar-sign" />
            </span>
            <span class="font-bold capitalize"> total amount: </span>
            {{ purchase.total_amount | currency }}
          </h4>
          <h4 class="flex items-center gap-2">
            <span class="text-amber-600">
              <i-feather name="activity" />
            </span>
            <span class="font-bold capitalize"> Status: </span>
            {{ purchase.status }}
          </h4>
          <h4 class="flex items-center gap-2">
            <span class="text-amber-600">
              <i-feather name="layers" />
            </span>
            <span class="font-bold capitalize"> Items count: </span>
            {{ purchase.product_purchase_orders?.length }}
          </h4>
          <h4 class="flex items-center gap-2">
            <span class="text-amber-600">
              <i-feather name="calendar" />
            </span>
            <span class="font-bold capitalize"> Initiated: </span>
            {{ purchase.created_at | date: "mediumDate" }}
          </h4>
          <h4 class="flex items-center gap-2">
            <span class="text-amber-600">
              <i-feather name="refresh-cw" />
            </span>
            <span class="font-bold capitalize"> Updated: </span>
            {{ purchase.updated_at | date: "mediumDate" }}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-6 text-3xl font-semibold">Products from this order</h2>

  <div
    class="mt-6 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    @for (orderItem of purchase.product_purchase_orders; track orderItem.id) {
      <div
        class="max-w-sm rounded-lg border border-stone-200 bg-white shadow dark:border-stone-700 dark:bg-stone-800"
      >
        <a [routerLink]="['/products/', orderItem.product_id]">
          <img class="rounded-t-lg" [src]="orderItem.product.image" alt="" />
        </a>
        <div class="p-5">
          <a [routerLink]="['/products/', orderItem.product_id]">
            <h5
              class="mb-2 text-xl font-bold tracking-tight text-stone-900 dark:text-white xl:text-2xl"
            >
              {{ orderItem.product.name }}
            </h5>
          </a>
          <div class="mt-4 space-y-4 md:mt-6">
            <div class="flex items-center gap-2">
              <i-feather name="layers" />
              <span class="font-semibold">Ordered quantity:</span>
              <span>{{ orderItem.quantity }}</span>
            </div>
            <div class="flex items-center gap-2">
              <i-feather name="dollar-sign" />
              <span class="font-semibold">Total Price:</span>
              <span>{{ orderItem.price | currency }}</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}
