<div class="mt-8">
  <h2 class="text-4xl font-bold text-stone-800 dark:text-stone-200">
    Purchase orders
  </h2>

  <div
    class="relative mt-4 overflow-x-auto rounded-lg shadow-lg md:mt-6 xl:mt-8"
  >
    <table class="w-full text-left text-sm text-stone-700 dark:text-stone-400">
      <thead
        class="bg-stone-50 text-xs uppercase text-stone-700 dark:bg-stone-700 dark:text-stone-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">id</th>
          <th scope="col" class="px-6 py-3">purchase id</th>
          <th scope="col" class="px-6 py-3">quantity</th>
          <th scope="col" class="px-6 py-3">price</th>
          <th scope="col" class="px-6 py-3">total</th>
          <th scope="col" class="px-6 py-3">purchase date</th>
        </tr>
      </thead>
      <tbody>
        @for (purchasedOrder of purchaseOrders; track purchasedOrder) {
          <tr class="border-b bg-white dark:border-stone-700 dark:bg-stone-800">
            <td class="px-6 py-4">{{ purchasedOrder.id }}</td>
            <td class="px-6 py-4">{{ purchasedOrder.purchase_order_id }}</td>
            <td class="px-6 py-4">{{ purchasedOrder.quantity }} Unit</td>
            <td class="px-6 py-4">{{ purchasedOrder.price | currency }}</td>
            <td class="px-6 py-4">
              {{ purchasedOrder.quantity * purchasedOrder.price | currency }}
            </td>
            <td class="px-6 py-4">
              {{ purchasedOrder.created_at | date: "mediumDate" }}
              {{ purchasedOrder.created_at | date: "shortTime" }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
