<div class="text-stone-800 dark:text-white">
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-4xl font-semibold">Suppliers</h1>
    <app-create-supplier-modal (supplierCreated)="onCreateSupplier($event)" />
  </div>
  <app-table
    [tableData]="suppliers"
    [tableHeaders]="tableHeaders"
    [limit]="8"
    (deleteById)="onDeleteSupplier($event)"
    (updateById)="onUpdateSupplier($event)"
    resourceNameForRouting="suppliers"
  ></app-table>
  @if(supplier){
  <app-update-supplier-modal
    [supplier]="supplier"
    (updatedSupplier)="updateUpdatedSupplierInView($event)"
    (closeModal)="onCloseModal()"
  />
  }
</div>
