@if (isLoading) {
  <app-loading />
} @else {
  <div class="">
    <div class="mb-8 flex items-center justify-between">
      <h1 class="text-2xl font-semibold">Categories</h1>
      <div class="flex items-center gap-2">
        <app-create-category-modal (newCategory)="addNewCategory($event)" />
      </div>
    </div>

    @for (category of paginatedCategories; track category.id) {
      <app-category-card
        [category]="category"
        (deletedCategoryId)="removeCategory($event)"
      />
    }
  </div>
  <div class="mt-12">
    <app-pagination
      [totalItems]="totalItems"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
  @if (categories) {
  } @else {
    <app-not-found />
  }
}
