@if (isLoading) {
  <app-loading />
} @else {
  <div class="">
    <div class="mb-8 flex items-center justify-between">
      <h1 class="text-2xl font-semibold">Categories</h1>
      <div class="flex items-center gap-2">
        <app-create-category-modal (newCategory)="addNewCategory($event)" />
      </div>
    </div>

    @for (category of paginatedCategories; track category.id) {
      <div class="mb-4">
        <h2 class="text-3xl font-bold text-stone-700 dark:text-stone-200">
          {{ category.name }}
        </h2>
        @if (category.products && category.products.length > 0) {
          <app-category-product [products]="category.products" />
        } @else {
          <h4 class="mt-4 text-xl text-stone-700 dark:text-stone-600">
            There is not product assigned to this category to be found
          </h4>
        }
      </div>
    }
  </div>
  <div class="mt-12">
    <app-pagination
      [totalItems]="totalItems"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
  @if (categories) {
  } @else {
    <app-not-found />
  }
}
