<button
  id="dropdownMenuIconHorizontalButton"
  [attr.data-dropdown-toggle]="'dropdownDotsHorizontal_' + menuId + '_'"
  class="inline-flex items-center p-2 text-sm font-medium text-center text-stone-900 bg-white rounded-lg hover:bg-stone-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-stone-50 dark:bg-stone-800 dark:hover:bg-stone-700 dark:focus:ring-stone-600"
  type="button"
>
  <svg
    class="w-5 h-5"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 16 3"
  >
    <path
      d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
    />
  </svg>
</button>
<div
  [id]="'dropdownDotsHorizontal_' + menuId + '_'"
  class="z-10 hidden bg-white divide-y divide-stone-100 rounded-lg w-44 dark:bg-stone-700 dark:divide-stone-600 shadow-xl"
>
  <ul
    class="py-2 text-sm text-stone-700 dark:text-stone-200"
    aria-labelledby="dropdownMenuIconHorizontalButton"
  >
    <li
      class="block px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:hover:text-white"
    >
      <button class="w-full h-full text-start" (click)="update(+menuId)">
        Edit
      </button>
    </li>
    <li
      class="block px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:hover:text-white"
    >
      <button
        class="w-full h-full text-start"
        [attr.data-modal-target]="'popup-modal_' + menuId + '_'"
        [attr.data-modal-toggle]="'popup-modal_' + menuId + '_'"
      >
        Delete
      </button>
    </li>
  </ul>
  <div class="py-2">
    <a
      [routerLink]="['/suppliers', menuId]"
      class="flex items-baseline justify-between px-4 py-2 text-sm text-stone-700 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200 dark:hover:text-white"
    >
      <span> View </span>
      <i-feather name="external-link"></i-feather>
    </a>
  </div>
</div>
