@if (isLoading) {
  <app-loading />
}
@if (sales) {
  <h1 class="mb-5 text-4xl font-semibold">Sales Orders</h1>

  <div
    class="relative mt-4 overflow-x-auto rounded-lg shadow-lg md:mt-6 xl:mt-8"
  >
    <table class="w-full text-left text-sm text-stone-700 dark:text-stone-400">
      <thead
        class="bg-stone-50 text-xs uppercase text-stone-700 dark:bg-stone-700 dark:text-stone-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Sale id</th>
          <th scope="col" class="px-6 py-3">Cashier</th>
          <th scope="col" class="px-6 py-3">Customer name</th>
          <th scope="col" class="px-6 py-3">Customer phone</th>
          <th scope="col" class="px-6 py-3">total products</th>
          <th scope="col" class="px-6 py-3">Total items</th>
          <th scope="col" class="px-6 py-3">Total Amount</th>
          <th scope="col" class="px-6 py-3">Sold on</th>
          <th scope="col" class="px-6 py-3">Invoice</th>
        </tr>
      </thead>
      <tbody>
        @for (sale of paginatedSales; track sale.id) {
          <tr class="border-b bg-white dark:border-stone-700 dark:bg-stone-800">
            <td class="px-6 py-4" target="_blank">
              <a
                [routerLink]="['/sales/', sale.id]"
                class="flex items-center gap-2 duration-150 hover:text-amber-600 dark:hover:text-stone-50"
              >
                <i-feather name="external-link" />
                {{ sale.id }}
              </a>
            </td>
            <td class="px-6 py-4">{{ sale.user.name }}</td>
            <td class="px-6 py-4">
              @if (sale.customer && sale.customer.name) {
                {{ sale.customer.name }}
              } @else {
                not provided
              }
            </td>
            <td class="px-6 py-4">
              @if (sale.customer && sale.customer.phone) {
                {{ sale.customer.phone }}
              } @else {
                not provided
              }
            </td>
            <td class="px-6 py-4">{{ sale.product_sales_orders.length }}</td>
            <td class="px-6 py-4">
              {{ calculateTotalQuantity(sale) }}
            </td>
            <td class="px-6 py-4">{{ sale.total_amount | currency }}</td>

            <td class="px-6 py-4">{{ sale.created_at | date }}</td>
            <td class="px-6 py-4">
              <button
                (click)="getSaleInvoice(sale.id)"
                class="flex items-center gap-2 duration-150 hover:text-amber-600 dark:hover:text-stone-50"
              >
                <i-feather name="file-text" />
                <span>Invoice</span>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="mt-8">
    <app-pagination
      [totalItems]="totalItems"
      [itemsPerPage]="10"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
}
