@if (isLoading) {
  <app-loading />
}

<!-- The Product Itself -->
@if (product && product.id) {
  <div class="flex flex-col items-stretch gap-4 xl:flex-row xl:gap-6 2xl:gap-8">
    <div class="mx-auto max-w-lg">
      <img
        [src]="product.image"
        alt="Product image"
        class="image-skeleton aspect-square h-full w-full rounded-lg object-cover"
      />
    </div>
    <div class="flex flex-col gap-4 xl:flex-1">
      <div class="flex items-center justify-between">
        <h1 class="text-2xl font-bold text-stone-700 dark:text-stone-300">
          {{ product.name }}
        </h1>
        <!-- CTAs -->
        <div class="mt-auto flex items-center justify-end gap-4 pt-2 xl:mt-0">
          <app-update-product-modal
            [inputProduct]="product"
            (product)="setUpdatedProductInView($event)"
          />
          <app-product-delete-modal [productId]="product.id" />
        </div>
      </div>
      <p class="text-lg text-stone-600 dark:text-stone-500">
        {{ product.description }}
      </p>
      <div
        class="mt-2 grid grid-cols-1 gap-4 rounded-lg border border-stone-200 bg-white p-6 text-stone-700 shadow dark:border-stone-700 dark:bg-stone-800 dark:text-stone-300 xl:mt-auto 2xl:grid-cols-2"
      >
        <div class="flex max-w-sm items-center gap-4">
          <span class="text-amber-600">
            <i-feather name="code" />
          </span>
          <span class="flex-1"> SKU: </span>
          <span class="flex-[2]">
            {{ product.sku }}
          </span>
        </div>

        <div class="flex max-w-sm items-center gap-4">
          <span class="text-amber-600">
            <i-feather name="dollar-sign" />
          </span>
          <span class="flex-1"> Price: </span>
          <span class="flex-[2]">
            {{ product.price | currency }}
          </span>
        </div>

        <div class="flex max-w-sm items-center gap-4">
          <span class="text-amber-600">
            <i-feather name="layers" />
          </span>
          <span class="flex-1"> Quantity: </span>
          <span class="flex-[2]">
            {{ product.quantity }}
          </span>
        </div>

        <div class="flex max-w-sm items-center gap-4">
          <span class="text-amber-600">
            <i-feather name="user" />
          </span>
          <span class="flex-1"> Supplier: </span>
          <span class="flex-[2]">
            {{ product.supplier?.name }}
          </span>
        </div>

        <div class="flex max-w-sm items-center gap-4">
          <span class="text-amber-600">
            <i-feather name="bookmark" />
          </span>
          <span class="flex-1"> Category: </span>
          <span class="flex-[2]">
            {{ product.category?.name }}
          </span>
        </div>

        <div class="flex max-w-sm items-center gap-4">
          <span class="text-amber-600">
            <i-feather name="calendar" />
          </span>
          <span class="flex-1"> Created at: </span>
          <span class="flex-[2]">
            {{ product.created_at | date: "mediumDate" }} at
            {{ product.created_at | date: "shortTime" }}
          </span>
        </div>

        <div class="flex max-w-sm items-center gap-4">
          <span class="text-amber-600">
            <i-feather name="tool" />
          </span>
          <span class="flex-1"> Updated at: </span>
          <span class="flex-[2]">
            {{ product.updated_at | date: "mediumDate" }} at
            {{ product.updated_at | date: "shortTime" }}
          </span>
        </div>
      </div>
    </div>
  </div>
}

@if (product.adjustments && product.adjustments.length > 0) {
  <app-product-adjustment [adjustments]="product.adjustments" />
} @else {
  <h4 class="mt-8 text-xl dark:text-stone-600">
    No adjustments were made for this product.
  </h4>
}

@if (product.inventory_movements && product.inventory_movements.length > 0) {
  <app-product-inventory-movements [movements]="product.inventory_movements" />
} @else {
  <h4 class="mt-8 text-xl dark:text-stone-600">
    No Inventory movements were made for this product.
  </h4>
}
@if (
  product.product_purchase_orders && product.product_purchase_orders.length > 0
) {
  <app-product-purchase-orders
    [purchaseOrders]="product.product_purchase_orders"
  />
} @else {
  <h4 class="mt-8 text-xl dark:text-stone-600">
    No track for purchased orders for this product.
  </h4>
}
