<div class="mx-auto flex max-w-2xl flex-wrap items-center gap-5">
  <a
    [routerLink]="['/orders/create-purchase']"
    class="flex min-h-32 flex-1 items-center justify-center rounded-xl border border-amber-600 bg-white text-2xl font-extrabold shadow duration-150 hover:-translate-y-2 hover:shadow-lg hover:shadow-amber-700 dark:bg-stone-800"
  >
    Purchase Order
  </a>

  <a
    [routerLink]="['/orders/create-sale']"
    class="flex min-h-32 flex-1 items-center justify-center rounded-xl border border-amber-600 bg-white text-2xl font-extrabold shadow duration-150 hover:-translate-y-2 hover:shadow-lg hover:shadow-amber-700 dark:bg-stone-800"
  >
    Sale Order
  </a>
</div>
