<div
  class="flex h-full items-center gap-4 rounded-lg bg-white p-6 shadow dark:bg-stone-800"
>
  <div
    class="relative inline-flex h-16 min-h-16 w-16 min-w-16 rounded-full bg-sky-400 dark:bg-sky-600"
  >
    <svg
      class="absolute left-1/2 top-1/2 h-8 w-8 -translate-x-1/2 -translate-y-1/2 text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"
      />
    </svg>
  </div>
  <div class="">
    <h2 class="mb-2 text-xl font-semibold text-stone-400 dark:text-stone-500">
      Products
    </h2>
    <h3 class="text-2xl font-extrabold text-stone-600 dark:text-stone-400">
      {{ value }} In-stock
    </h3>
  </div>
</div>
