<h1 class="mb-5 text-2xl font-semibold">Dashboard</h1>

<div
  class="grid grid-cols-1 items-stretch gap-4 md:grid-cols-4 xl:grid-cols-4 xl:gap-6"
>
  <div class="col-span-1 md:col-span-2 xl:col-span-1">
    <app-profit-amount-widget [value]="widgetsData.profit.value" />
  </div>
  <div class="col-span-1 md:col-span-2 xl:col-span-1">
    <app-sales-orders-count-widget [value]="widgetsData.sales.value" />
  </div>
  <div class="col-span-1 md:col-span-2 xl:col-span-1">
    <app-product-count-widget [value]="widgetsData.products.value" />
  </div>
  <div class="col-span-1 md:col-span-2 xl:col-span-1">
    <app-categories-count-widget [value]="widgetsData.categories.value" />
  </div>
  <div class="md:col-span-4 xl:col-span-2">
    <app-top-selling-products />
  </div>
  <div class="h-full md:col-span-4 xl:col-span-2">
    <app-category-per-products-pie />
  </div>
  <div class="md:col-span-4 xl:col-span-4">
    <app-sales-chart />
  </div>
</div>
