<custom-modal
  buttonText="Edit"
  iconName="edit-2"
  buttonClasses="inline-flex items-center gap-2.5 text-base font-medium text-stone-700 duration-150 hover:text-amber-700 dark:text-stone-400 dark:hover:text-amber-600"
  [modalHeader]="'Update supplier ' + inputSupplier.name"
  acceptButtonText="Update"
  (accept)="onSubmit()"
  [disabled]="supplierForm.invalid"
  #modal
>
  <form
    enctype="multipart/form-data"
    class="mx-auto grid grid-cols-6 gap-x-6"
    [formGroup]="supplierForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="col-span-6 mb-4">
      <label
        for="name"
        class="mb-2 block text-sm font-medium text-stone-900 dark:text-white"
        >Name</label
      >
      <input
        formControlName="name"
        type="text"
        class="block w-full rounded-lg border border-stone-300 bg-stone-50 p-2.5 text-sm text-stone-900 focus:border-amber-500 focus:ring-amber-500 dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400 dark:focus:border-amber-500 dark:focus:ring-amber-500"
      />
      @if (apiErrors?.name) {
        <p class="mt-2.5 text-sm text-red-500">{{ apiErrors?.name }}</p>
      }
      <!-- Frontend errors -->
      @if (
        getControl("name")?.hasError("required") && getControl("name")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">This field is required.</p>
      }
      @if (
        getControl("name")?.hasError("minlength") && getControl("name")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">Minimum length 3 characters.</p>
      }
    </div>

    <div class="col-span-6 mb-4">
      <label
        for="email"
        class="mb-2 block text-sm font-medium text-stone-900 dark:text-white"
        >Email</label
      >
      <input
        formControlName="email"
        type="email"
        class="block w-full rounded-lg border border-stone-300 bg-stone-50 p-2.5 text-sm text-stone-900 focus:border-amber-500 focus:ring-amber-500 dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400 dark:focus:border-amber-500 dark:focus:ring-amber-500"
      />
      @if (apiErrors?.email) {
        <p class="mt-2.5 text-sm text-red-500">{{ apiErrors?.email }}</p>
      }
      <!-- Frontend errors -->
      @if (
        getControl("email")?.hasError("required") && getControl("email")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">This field is required.</p>
      }
      @if (
        getControl("email")?.hasError("email") && getControl("email")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">Invalid email format.</p>
      }
    </div>

    <div class="col-span-6 mb-4">
      <label
        for="phone"
        class="mb-2 block text-sm font-medium text-stone-900 dark:text-white"
        >Phone</label
      >
      <input
        formControlName="phone"
        type="text"
        class="block w-full rounded-lg border border-stone-300 bg-stone-50 p-2.5 text-sm text-stone-900 focus:border-amber-500 focus:ring-amber-500 dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400 dark:focus:border-amber-500 dark:focus:ring-amber-500"
        (input)="validateNumberOnInput($event, 'phone')"
      />
      @if (apiErrors?.phone) {
        <p class="mt-2.5 text-sm text-red-500">{{ apiErrors?.phone }}</p>
      }
      <!-- Frontend errors -->
      @if (
        getControl("phone")?.hasError("required") && getControl("phone")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">This field is required.</p>
      }
      @if (
        getControl("phone")?.hasError("pattern") && getControl("phone")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">Invalid phone number format.</p>
      }
    </div>

    <div class="col-span-6 mb-4">
      <label
        for="address"
        class="mb-2 block text-sm font-medium text-stone-900 dark:text-white"
        >Address</label
      >
      <input
        formControlName="address"
        type="text"
        class="block w-full rounded-lg border border-stone-300 bg-stone-50 p-2.5 text-sm text-stone-900 focus:border-amber-500 focus:ring-amber-500 dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400 dark:focus:border-amber-500 dark:focus:ring-amber-500"
      />
      @if (apiErrors?.address) {
        <p class="mt-2.5 text-sm text-red-500">{{ apiErrors?.address }}</p>
      }
      <!-- Frontend errors -->
      @if (
        getControl("address")?.hasError("required") && getControl("address")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">This field is required.</p>
      }
      @if (
        getControl("address")?.hasError("minlength") && getControl("address")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">Minimum length 10 characters.</p>
      }
    </div>

    <div class="col-span-6 mb-4">
      <label
        for="image"
        class="mb-2 block text-sm font-medium text-stone-900 dark:text-white"
        >Image</label
      >
      <input
        type="file"
        (change)="getFile($event)"
        class="block w-full cursor-pointer rounded-lg border border-stone-300 bg-stone-50 text-sm text-stone-900 focus:outline-none dark:border-stone-600 dark:bg-stone-700 dark:text-stone-400 dark:placeholder-stone-400"
      />
      @if (apiErrors?.image) {
        <p class="mt-2.5 text-sm text-red-500">{{ apiErrors?.image }}</p>
      }
      @if (
        getControl("image")?.hasError("required") && getControl("image")?.touched
      ) {
        <p class="mt-2.5 text-sm text-red-500">
          Please upload an image, it is required
        </p>
      }
    </div>
  </form>
</custom-modal>
