<div class="mt-8">
  <h2 class="text-4xl font-bold text-stone-800 dark:text-stone-200">
    Products
  </h2>

  <div
    class="relative mt-4 overflow-x-auto rounded-lg shadow-lg md:mt-6 xl:mt-8"
  >
    <table class="w-full text-left text-sm text-stone-700 dark:text-stone-400">
      <thead
        class="bg-stone-50 text-xs uppercase text-stone-700 dark:bg-stone-700 dark:text-stone-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Product ID</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Category</th>
          <th scope="col" class="px-6 py-3">sku</th>
          <th scope="col" class="px-6 py-3">current stock</th>
          <th scope="col" class="px-6 py-3">Price</th>
        </tr>
      </thead>
      <tbody>
        @for (product of paginatedProduct; track product.id) {
          <tr class="border-b bg-white dark:border-stone-700 dark:bg-stone-800">
            <td class="px-6 py-4">
              <a
                [routerLink]="['/products', product.id]"
                class="flex items-center gap-2 hover:text-amber-600 dark:hover:text-stone-50"
                target="_blank"
              >
                <i-feather name="external-link" />
                <span>
                  {{ product.id }}
                </span>
              </a>
            </td>
            <td class="px-6 py-4">{{ product.name }}</td>
            <td class="px-6 py-4">{{ product.category?.name }}</td>
            <td class="px-6 py-4">{{ product.sku }}</td>
            <td
              class="px-6 py-4"
              [ngClass]="
                product.quantity < 12
                  ? 'font-semibold text-red-600 dark:text-red-500'
                  : ''
              "
            >
              {{ product.quantity }} unit
            </td>
            <td class="px-6 py-4">{{ product.price | currency }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="mt-8">
  <app-pagination
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
