<div
  class="w-full bg-inventory bg-cover bg-center h-40 rounded-xl overflow-hidden sm:h-36 md:h-48 lg:h-56 xl:h-64"
>
  <h1
    class="text-stone-50 m-6 text-lg bg-amber-800 bg-opacity-50 inline-block py-2 px-3 rounded-lg xl:text-2xl"
  >
    Profile
  </h1>
</div>
<div class="flex justify-center">
  <div
    class="bg-white dark:bg-stone-800 border dark:border-stone-950 border-stone-200 w-[94%] rounded-2xl -mt-8 md:-mt-12 lg:-mt-16 p-4 xl:-mt-20"
  >
    <!-- Header -->

    <div class="flex items-center justify-between">
      <!-- ProPic & Name -->
      <div class="flex gap-4">
        <div
          class="size-20 bg-stone-600 rounded-lg border dark:border-amber-200 border-amber-400"
        >
          <img src="assets/images/manager.png" alt="user avatar" />
        </div>
        <div class="space-y-2">
          <h2
            class="text-stone-700 dark:text-stone-200 text-2xl m-0 font-semibold"
          >
            John Doe
          </h2>
          <h4 class="text-stone-400 text-sm m-0">CEO / Co-Founder</h4>
        </div>
      </div>
      <!-- BTN GP -->
      <div>
        <div class="inline-flex rounded-md shadow-sm" role="group">
          <button
            type="button"
            class="inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium text-stone-900 bg-white border border-stone-200 rounded-s-lg hover:bg-stone-100 hover:text-amber-700 focus:z-10 focus:ring-2 focus:ring-amber-700 focus:text-amber-700 dark:bg-stone-800 dark:border-stone-700 dark:text-amber-200 dark:hover:text-amber-400 dark:hover:bg-stone-700 dark:focus:ring-amber-500 dark:focus:text-amber-400"
          >
            <i-feather name="home" class="-mt-0.5"></i-feather>
            <span class="flex items-center justify-center">Home</span>
          </button>
          <button
            type="button"
            class="inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium text-stone-900 bg-stone-50 border-t border-b border-stone-200 hover:bg-stone-100 hover:text-amber-700 focus:z-10 focus:ring-2 focus:ring-amber-700 focus:text-amber-700 dark:bg-stone-900 dark:border-stone-700 dark:text-amber-200 dark:hover:text-amber-400 dark:hover:bg-stone-700 dark:focus:ring-amber-500 dark:focus:text-amber-400"
          >
            <i-feather name="sliders"></i-feather>
            <span class="flex items-center justify-center">Transactions</span>
          </button>
          <button
            type="button"
            class="inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium text-stone-900 bg-white border border-stone-200 rounded-e-lg hover:bg-stone-100 hover:text-amber-700 focus:z-10 focus:ring-2 focus:ring-amber-700 focus:text-amber-700 dark:bg-stone-800 dark:border-stone-700 dark:text-amber-200 dark:hover:text-amber-400 dark:hover:bg-stone-700 dark:focus:ring-amber-500 dark:focus:text-amber-400"
          >
            <i-feather name="settings"></i-feather>
            <span class="flex items-center justify-center">Settings</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
