<app-navbar></app-navbar>
<div class="overflow-hidden">
  <!--** overflow hidden class to prevent the svg from spreading out **-->
  <app-hero-section />
  <app-features-section />
  <app-benefits-section />
  <app-testimonials-section />
  <app-about-us-section />
  <app-pricing-section />
  <app-faqs-section />
  <app-footer />
</div>

<!-- ** Done ** Hero Section    -->
<!-- ** Done ** Features        -->
<!-- ** Done ** Benefits        -->
<!-- ** Done ** Testimonials    -->
<!-- ** Done ** About           -->
<!-- ** Done ** Pricing              -->
<!-- TODO: FAQs                 -->
<!-- TODO: Contact              -->
<!-- TODO: Footer               -->
