@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

i-feather {
  width: 1em !important;
  height: 1em !important;
  color: inherit !important;
}

::selection {
  @apply bg-stone-300 text-amber-900 dark:bg-amber-200 dark:text-stone-900;
}

.auth-input {
  @apply block w-full rounded-lg border border-stone-300 bg-stone-50 p-2.5 text-stone-900 focus:border-amber-600 focus:ring-amber-600 dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400 dark:focus:border-amber-500 dark:focus:ring-amber-500;
}
.auth-invalid-input {
  @apply block w-full rounded-lg border border-red-600 bg-red-200 p-2.5 text-stone-900 placeholder:text-red-600 focus:border-red-600 focus:ring-red-600 dark:border-red-900 dark:bg-red-950 dark:text-white dark:placeholder-red-400 dark:focus:border-red-500 dark:focus:ring-red-500;
}

.invalid-message {
  @apply font-semibold text-red-600 dark:text-red-600;
}

/**! IMP !**/
.image-skeleton {
  @apply relative z-10;
}
.image-skeleton::after {
  content: "";
  @apply absolute inset-0 -z-10 h-full w-full animate-pulse bg-stone-200 dark:bg-stone-700;
}
